/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #e5e5e5;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

@media only screen and (max-width: 1280px) {
  mat-card{
    width: 850px;
  }
  
}

@media only screen and (max-width: 850px) {
  mat-card{
    width: 450px;
  }
}

